.aboutme-container {
  /* border: 1px solid black; */
  position: relative;
  z-index: 1001;
  /* margin-top: 200%; */
}

.first-text {
  font-size: 35px;
  color: #666666;
}

.second-text {
  font-size: 35px;
  color: #666666;
}
